<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <title>RFC Czar: RFC for the rest of us.</title>
  <link rel="stylesheet" href="static/css/rfc.css">
</head>
<body>
    <div class="homepage">
        <h2 class="centered">
            RFCs for the rest of us.<br>
        </h2>
        <div>
            <input type="text" placeholder="Type an RFC name or keywords"></input>
        </div>
    </div>
    <script type='text/javascript' src='rfc.js'></script>
    <script type='text/javascript'>
        $(document).ready(function() {
                $("p.rfcparagraph").append('<a>raw</a>').click(function() { alert('YOLO') });
        });
    </script>
</body>
</html>
