<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>RFCSpot: RFCs for the rest of us.</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/skeleton.css">
  <link rel="stylesheet" href="static/css/home.css">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="two columns" style="margin-top: 5%"></div>
      <div class="eight columns" style="margin-top: 5%">
        <h4>RFCSpot</h4>
        <p>RFCs for the rest of us</p>
        <h5>What is this?</h5>
        <p>
            RFCSpot is a website which hosts thousands of IETF Requests For Comments (RFCs) in an easy to understand two-column format.
            The left side of the page shows the content of the RFC and the right side shows related Stackoverflow questions.
        </p>
        <p>
           <a href="rfc3501.html">See an example RFC</a> or <a href="/browse">browse the full RFC list.</a>
        </p>

        <hr>
        <h5>Who is behind this?</h5>
        <p>Hi, I'm <a href="http://khamidou.com">Karim</a>! I'm a backend engineer and have to spend a lot of time reading RFCs. Unfortunately, most of them are really ugly and hard to understand without proper context.</p>

        <h5>Special thanks:</h5>

        <p>
            In no specific order, thanks to the IETF, Stackoverflow and their contributors and Jeremy Ashkenas, who created the two column theme I'm using.
        </p>

        <h5>Comments, remarks, insults?</h5>
        <p>
            If you've noticed that your favorite RFC isn't rendering correctly, or if you have general remarks,
            don't hesitate to send me an email to karim@rfcspot.com!
        </p>

        <p>Copyright {{ date.year }} <a href="http://khamidou.com">Karim Hamidou</a>.</p>
      </div>
    </div>
  </div>
</body>
</html>
