<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>RFCSpot: RFCs for the rest of us.</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/skeleton.css">
  <link rel="stylesheet" href="static/css/home.css">

</head>
<body>
  <div class="container">
    <div class="row">
      <div class="twelve columns" style="margin-top: 5%">
        <h4>List of RFCs</h4>
        <table>
            {% for column in titled_rfcs | batch(2) %}
            <tr>
                {% for rfc in column %}
                    <td><a href="/rfc{{ rfc['rfc'] }}.html">RFC{{ rfc['rfc'] }}</a></td>
                    <td>
                        {% if rfc['subject'] is not none and rfc['subject'] != '' %}
                            {{ rfc['subject'] }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}

            {% for column in untitled_rfcs | batch(2) %}
            <tr>
                {% for rfc in column %}
                    <td><a href="/rfc{{ rfc['rfc'] }}.html">RFC{{ rfc['rfc'] }}</a></td>
                    <td>
                        {% if rfc['subject'] is not none and rfc['subject'] != '' %}
                            {{ rfc['subject'] }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}

        </table>
      </div>
    </div>
  </div>
</body>
</html>
